.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
JetBrains
Qtrac Ltd./**
atuin-receipt.json
cni
configstore
containers
dconf/user
enchant/**
evolution/*
fish/*
goa-1.0/*
gtk-3.0/*
httpie
ibus/*
nextjs-nodejs
pulse/*
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
uv/uv-receipt.json
xdg-terminals.list
