"*":
  "exception-reporting":
    userId: "d425b600-3126-5c25-3ab9-a8ca0ae9f059"
  welcome:
    showOnStartup: false
  "atom-beautify":
    _analyticsUserId: "824852c3-cab2-4571-b79a-150f9e541808"
  editor:
    fontSize: 12
    preferredLineLength: 120
    useShadowDOM: true
    invisibles:
      {}
    zoomFontWhenCtrlScrolling: true
    showIndentGuide: true
  core:
    disabledPackages: [
      "background-tips"
      "bookmarks"
      "deprecation-cop"
      "incompatible-packages"
      "language-c"
      "language-go"
      "language-java"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sass"
      "language-toml"
      "language-yaml"
      "markdown-preview"
      "metrics"
      "open-on-github"
      "package-generator"
      "release-notes"
      "spell-check"
      "styleguide"
      "welcome"
      "whitespace"
      "wrap-guide"
    ]
    themes: [
      "seti-ui"
      "one-dark-syntax"
    ]
  linter:
    {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "linter-eslint":
    {}
".source.ssh-config":
  editor:
    preferredLineLength: 120
".ini.source":
  editor:
    preferredLineLength: 120
