[user]
	name = NAME
	email = EMAIL

[core]
	autocrlf = false
	whitespace = fix,space-before-tab,tab-in-indent,trailing-space
	excludesfile = ~/.dotfiles/conf/gitignore.conf

[alias]
	br = branch
	ci = commit
	co = checkout
  cl = clone
	df = diff
  dt = difftool
	g = grep -I
	lg = log --graph --date=short --pretty=format:'%Cgreen(%cr) %C(blue)<%an> %Creset%s %C(yellow)%d %C(red)%h'   
	rb = rbranch
	rv = review
	st = status
	ksdiff = difftool -y -t kaleidoscope
	jsondiff = difftool -y -t jsondiff
	pp = "!\"echo Pull; git pull; echo Push; git push\""
  ps = push
  pl = pull
  root = !pwd

[apply]
	whitespace = fix

[push]
	default = simple

# reuse recorded resolution when resolving conflicts
[rerere]
	enabled = 1

#### COLORS 
[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

#### DIFF & MERGETOOLS
[diff]
	tool = kaleidoscope
[merge]
	tool = kaleidoscope
	log = true

[difftool]
	prompt = false
[mergetool]
	prompt = false

# Kaleidoscope
[difftool "kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot

# Kdiff3
[difftool "kdiff3"]
	cmd = kdiff3 \"$LOCAL\" \"$REMOTE\"
[mergetool "kdiff3"]
	cmd = kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"

# json-diff
# https://www.npmjs.com/package/json-diff
[difftool "jsondiff"]
	cmd = json-diff \"$LOCAL\" \"$REMOTE\"
