[user]
	name = NAME
	email = EMAIL

[core]
  # always checkout as LF, but correct accidental CRLF on input
  # ref http://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration#Formatting-and-Whitespace
	autocrlf = input
	whitespace = fix,space-before-tab,tab-in-indent,trailing-space
	excludesfile = ~/.dotfiles/conf/gitignore.conf

[apply]
	whitespace = fix

[push]
	default = simple

# reuse recorded resolution when resolving conflicts
[rerere]
	enabled = 1

[alias]
	br = branch
	ci = commit
	co = checkout
  cl = clone
	df = diff
  dt = difftool
	g = grep -I
  lg = log --graph --date=short --pretty=format:'%C(red)%h %Cgreen(%cr) %C(cyan)<%an> %Creset%s %C(yellow)%d'
	rb = rbranch
	rv = review
	st = status
	pp = !"echo pulling ...; git pull; echo pushing ...; git push"
  ps = push
  pl = pull
  # for use with 'alias cr=$(cd git root)'
  root = !pwd
	ksdiff = difftool -y -t kaleidoscope
	jsondiff = difftool -y -t jsondiff
  sha = rev-parse --short HEAD

#############################################################
[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

############################################################
[diff]
	tool = idea
[merge]
	tool = idea
	log = true

[difftool]
	prompt = false
[mergetool]
	prompt = false

# Kaleidoscope
[difftool "kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path "$MERGED" -- "$LOCAL" "$REMOTE"
[mergetool "kaleidoscope"]
	cmd = ksdiff --merge --output "$MERGED" --base "$BASE" -- "$LOCAL" --snapshot "$REMOTE" --snapshot

# Kdiff3
[difftool "kdiff3"]
	cmd = kdiff3 "$LOCAL" "$REMOTE"
[mergetool "kdiff3"]
	cmd = kdiff3 "$BASE" "$LOCAL" "$REMOTE" -o "$MERGED"

# Intellij IDEA
[difftool "idea"]
  cmd = idea diff "$LOCAL" "$REMOTE"
[mergetool "idea"]
  cmd = idea merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"

# json-diff 
# https://www.npmjs.com/package/json-diff
[difftool "jsondiff"]
	cmd = json-diff "$LOCAL" "$REMOTE"
