root = true

# set defaults
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

# python style guide
[*.py]
indent_style = space
indent_size = 4


# git config --global uses tab identation
# so we should stay in sync
[.gitconfig]
indent_style = tab
